<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entrega</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="nextPage()">
    <ion-list radio-group formControlName="@type">
      <ion-list-header>
        Previsão de Entrega
      </ion-list-header>
      <ion-item>
        <ion-label>Correios</ion-label>
        <ion-radio checked="true" value="correios"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Contratado</ion-label>
        <ion-radio value="contratado"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="formGroup.value['@type'] == 'correios'">
      <ion-label stacked>Dias úteis para entrega</ion-label>
      <ion-select formControlName="numeroDeDias">
        <ion-option *ngFor="let n of dias; first as f" [value]="n" [selected]="f">{{n}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Próximo</button>
  </form>
</ion-content>
